<div class="item-editor main-view">
    <div>
        <%= form_with(url: "/items/#{@item.id}", method: "put") do %>
            <%= text_field_tag :name, @item.name, placeholder: "name"%><br>
            <%= text_field_tag :cost, @item.cost, placeholder: "cost" %><br>
            <%= text_field_tag :image_url, @item.image_url, placeholder: "image url" %><br>
            

            <%= submit_tag("Confirm") %>
        <% end %>
    </div>
</div>